<h1 class="title">Magasins</h1>
<div class="stores">
    {{#each magasins}}
    <div class="store store__hero">
        <a href="/magasins/{{this.slug}}">
            {{!--
            <div class="store__actions">
                <a href="/" class="store__action--edit">edit</a>
            </div> --}}
            <div>
                <img src="/uploads/{{this.photo}}" alt="{{this.description}}">
                <h2 class="title">{{this.name}}</h2>
            </div>
            {{!--
            <p>
                {{this.description}}
            </p> --}}
        </a>
        {{!--
        <p>{{this.description}}</p> --}}
    </div>

    {{/each}}
</div>